# Annotation tool for time series data

By: Stefania Russo, Kris Villez
Copyright: 2018, distributed with BSD3 license

## The challenge

In the context of the ADASen project, we want to address research questions regarding the utility of supervised and unsupervised machine learning models in anomaly detection for environmental systems. We have therefore selected a range of anomaly detection methods for benchmarking on data sets produced by six infrastructures at Eawag.

Critical to the benchmarking is the availability of fully labelled training and test data sets of normal and abnormal behavior in environmental data. 
An annotation tool has therefore being developed to perform the labelling procedure.

This notebook shows an application of the labelling procedure to time series data. Here, each time series is a univariate 24h signal from a spatially-distributed, low-power sensor network.

Each series is visualised as a 3am-3am time series.

## Current method

Below are described the steps for data access, data preparation, visualization and labelling procedure.

- The data is in the form of .csv data files. Each data file consists of many 24h sets across 3 sensors.
- Corruption checks are performed and dates cointaining corrupted time-series are removed
- The labelling procedure starts and the first plots are displayed. The 3 plots at the top are univariate sensor signals, where the bottom plot shows a collection of these signals.  

- The annotation tool allows the labelling expert to interactivelly select multiple portions of the time series by moving through the data with the mouse cursor.

- Each time the button 'Next' is clicked, all the selected areas (time index and sensor value) are saved together with information about the date stamp date. At the end of the procedure, the user can easily access to the anomaly labels in an easy manner.

- When the process is over, the plots need to be closed and then the cell 'Save labelled data' hs to be run 

- Note: if the user wants to change any of his selections, he needs to move forward to the next plot by clicking 'Next', perform a selection of the anomalous data, and then go back and restart.


# Usage

 - Install python and open this Jupyter notebook 
 - Paste your working directory into path_all
 
# NOTE: 
## This is a beta version of the labelling tool! Please provide any feedback

# Iniziatization

In [1]:
# Import Statements

import os
import numpy as np
import pandas as pd
import csv
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec
from matplotlib.widgets import Button
from matplotlib.widgets import SpanSelector
import itertools
from sklearn import preprocessing
import seaborn as sns
import datetime as datetime
from datetime import timedelta

### Options

In [2]:
# Windows server: 
# path_all = ('//eaw-depts/eng$/IngData/StefaniaRusso/NEST/')

# iOS server: 
#path_all = ("/Volumes/NEST/")

# On personal laptop
path_all = ('/Users/russoste/Desktop/NEST/Data/months/')


save_path = path_all     # Destination folder to for labelled data

In [48]:
# Select Case

Case = 1     # case 1 : GAK, case 2: Pressure T1 T2

if Case == 1:
    folder = 'data_pressure_sensor_GAK/'
    name_of_file1 = '08_August 2018.csv'
    
if Case == 2:
    folder = 'data_pressure_sensors_T1_T2/' 
    name_of_file1 = '08_August 2018.csv'

# Load data and basic sanity checks

In [49]:
# Load data

completePath = os.path.join(path_all, folder, name_of_file1) 
df = pd.read_csv(completePath)

In [50]:
df

               day      hour    p3    p4
0       01.08.2018  00:00:00  91.6  12.4
1       01.08.2018  00:00:10  91.6  12.4
2       01.08.2018  00:00:20  91.6  12.4
3       01.08.2018  00:00:30  91.6  12.4
4       01.08.2018  00:00:40  91.6  12.4
5       01.08.2018  00:00:50  91.6  12.4
6       01.08.2018  00:01:00  91.6  12.4
7       01.08.2018  00:01:10  91.6  12.4
8       01.08.2018  00:01:20  91.6  12.5
9       01.08.2018  00:01:30  91.6  12.4
10      01.08.2018  00:01:40  91.6  12.4
11      01.08.2018  00:01:50  91.6  12.4
12      01.08.2018  00:02:00  91.6  12.5
13      01.08.2018  00:02:10  91.6  12.4
14      01.08.2018  00:02:20  91.6  12.4
15      01.08.2018  00:02:30  91.6  12.4
16      01.08.2018  00:02:40  91.6  12.5
17      01.08.2018  00:02:50  91.6  12.4
18      01.08.2018  00:03:00  91.6  12.5
19      01.08.2018  00:03:10  91.6  12.4
20      01.08.2018  00:03:20  91.6  12.5
21      01.08.2018  00:03:30  91.6  12.4
22      01.08.2018  00:03:40  91.6  12.5
23      01.08.2018  00:03:50  91.6  12.5
24      01.08.2018  00:04:00  91.6  12.4
25      01.08.2018  00:04:10  91.6  12.4
26      01.08.2018  00:04:20  91.6  12.4
27      01.08.2018  00:04:30  91.6  12.4
28      01.08.2018  00:04:40  91.6  12.4
29      01.08.2018  00:04:50  91.6  12.5
...            ...       ...   ...   ...
267808  31.08.2018  23:55:00  91.7  14.7
267809  31.08.2018  23:55:10  91.7  14.6
267810  31.08.2018  23:55:20  91.7  14.5
267811  31.08.2018  23:55:30  91.7  14.5
267812  31.08.2018  23:55:40  91.7  14.4
267813  31.08.2018  23:55:50  91.7  14.3
267814  31.08.2018  23:56:00  91.7  14.2
267815  31.08.2018  23:56:10  91.7  14.2
267816  31.08.2018  23:56:20  91.7  14.1
267817  31.08.2018  23:56:30  91.7  14.1
267818  31.08.2018  23:56:40  91.7  14.0
267819  31.08.2018  23:56:50  91.7  13.9
267820  31.08.2018  23:57:00  91.7  13.9
267821  31.08.2018  23:57:10  91.7  13.9
267822  31.08.2018  23:57:20  91.7  13.8
267823  31.08.2018  23:57:30  91.7  13.8
267824  31.08.2018  23:57:40  91.6  13.7
267825  31.08.2018  23:57:50  91.7  13.7
267826  31.08.2018  23:58:00  91.6  13.6
267827  31.08.2018  23:58:10  91.6  13.6
267828  31.08.2018  23:58:20  91.6  13.5
267829  31.08.2018  23:58:30  91.6  13.5
267830  31.08.2018  23:58:40  91.6  13.5
267831  31.08.2018  23:58:50  91.6  13.4
267832  31.08.2018  23:59:00  91.6  13.4
267833  31.08.2018  23:59:10  91.6  13.4
267834  31.08.2018  23:59:20  91.6  13.3
267835  31.08.2018  23:59:30  91.6  13.3
267836  31.08.2018  23:59:40  91.6  13.3
267837  31.08.2018  23:59:50  91.6  13.2

[267838 rows x 4 columns]

In [51]:
df2 = df.copy(deep=True)

sr0 = df2.keys()[2]
sr1 = df2.keys()[3]
print('Sensor names:',sr0,',', sr1)

Sensor names: p3 , p4

In [52]:
np.unique(df2['day'])

array(['01.08.2018', '02.08.2018', '03.08.2018', '04.08.2018',
       '05.08.2018', '06.08.2018', '07.08.2018', '08.08.2018',
       '09.08.2018', '10.08.2018', '11.08.2018', '12.08.2018',
       '13.08.2018', '14.08.2018', '15.08.2018', '16.08.2018',
       '17.08.2018', '18.08.2018', '19.08.2018', '20.08.2018',
       '21.08.2018', '22.08.2018', '23.08.2018', '24.08.2018',
       '25.08.2018', '26.08.2018', '27.08.2018', '28.08.2018',
       '29.08.2018', '30.08.2018', '31.08.2018'], dtype=object)

In [53]:
# Create datetime 

df2['day'] = [x.date() for x in (pd.to_datetime([i for i in df2['day']], format='%d.%m.%Y'))] 
df2['time'] = [x.time() for x in (pd.to_datetime([i for i in df2['hour']], format='%H:%M:%S'))]   # remove primes from the time
df1 = df2.copy(deep=True)
df2.set_index(['day','hour'], inplace=True)

df_bf_00 = df2[sr0]
df_bf_01 = df2[sr1]

In [54]:
df2.drop(columns ='time', inplace=True)

In [55]:
df2

                       p3    p4
day        hour
2018-08-01 00:00:00  91.6  12.4
           00:00:10  91.6  12.4
           00:00:20  91.6  12.4
           00:00:30  91.6  12.4
           00:00:40  91.6  12.4
           00:00:50  91.6  12.4
           00:01:00  91.6  12.4
           00:01:10  91.6  12.4
           00:01:20  91.6  12.5
           00:01:30  91.6  12.4
           00:01:40  91.6  12.4
           00:01:50  91.6  12.4
           00:02:00  91.6  12.5
           00:02:10  91.6  12.4
           00:02:20  91.6  12.4
           00:02:30  91.6  12.4
           00:02:40  91.6  12.5
           00:02:50  91.6  12.4
           00:03:00  91.6  12.5
           00:03:10  91.6  12.4
           00:03:20  91.6  12.5
           00:03:30  91.6  12.4
           00:03:40  91.6  12.5
           00:03:50  91.6  12.5
           00:04:00  91.6  12.4
           00:04:10  91.6  12.4
           00:04:20  91.6  12.4
           00:04:30  91.6  12.4
           00:04:40  91.6  12.4
           00:04:50  91.6  12.5
...                   ...   ...
2018-08-31 23:55:00  91.7  14.7
           23:55:10  91.7  14.6
           23:55:20  91.7  14.5
           23:55:30  91.7  14.5
           23:55:40  91.7  14.4
           23:55:50  91.7  14.3
           23:56:00  91.7  14.2
           23:56:10  91.7  14.2
           23:56:20  91.7  14.1
           23:56:30  91.7  14.1
           23:56:40  91.7  14.0
           23:56:50  91.7  13.9
           23:57:00  91.7  13.9
           23:57:10  91.7  13.9
           23:57:20  91.7  13.8
           23:57:30  91.7  13.8
           23:57:40  91.6  13.7
           23:57:50  91.7  13.7
           23:58:00  91.6  13.6
           23:58:10  91.6  13.6
           23:58:20  91.6  13.5
           23:58:30  91.6  13.5
           23:58:40  91.6  13.5
           23:58:50  91.6  13.4
           23:59:00  91.6  13.4
           23:59:10  91.6  13.4
           23:59:20  91.6  13.3
           23:59:30  91.6  13.3
           23:59:40  91.6  13.3
           23:59:50  91.6  13.2

[267838 rows x 2 columns]

## Basic sanity checks

In [56]:
# Accessing dates
i_date = df2.index.get_level_values(0)                                      # get all dates
idx_date = np.unique(df2.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
print('Unique dates:',date_list)

for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) != 8640:
        print('Corrupted date:', date_list[pl_i].date())
        print('Corrupted date index:',pl_i)
        print('Corrupted date shape:', df2.loc[date_list[pl_i].date()].shape)

Unique dates: DatetimeIndex(['2018-08-01', '2018-08-02', '2018-08-03', '2018-08-04',
               '2018-08-05', '2018-08-06', '2018-08-07', '2018-08-08',
               '2018-08-09', '2018-08-10', '2018-08-11', '2018-08-12',
               '2018-08-13', '2018-08-14', '2018-08-15', '2018-08-16',
               '2018-08-17', '2018-08-18', '2018-08-19', '2018-08-20',
               '2018-08-21', '2018-08-22', '2018-08-23', '2018-08-24',
               '2018-08-25', '2018-08-26', '2018-08-27', '2018-08-28',
               '2018-08-29', '2018-08-30', '2018-08-31'],
              dtype='datetime64[ns]', name='day', freq=None)
Corrupted date: 2018-08-14
Corrupted date index: 13
Corrupted date shape: (8638, 2)

In [57]:
# Removing dates where data is missing
data_df2 = df2.copy()
for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) != 8640:
        data_df2.drop(date_list[pl_i].date(),level='day',inplace=True)

In [58]:
# Checking if it works and compute again date index

# Accessing dates
i_date = data_df2.index.get_level_values(0)                                      # get all dates
idx_date = np.unique(data_df2.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
#print('Unique dates:',date_list)

df_bf_00 = data_df2[sr0]
df_bf_01 = data_df2[sr1]


for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) <288:
        print('Corrupted date:', date_list[pl_i].date())
        print('Corrupted date index:',pl_i)
        print('Corrupted date shape:', data_df2.loc[date_list[pl_i].date()].shape)

In [59]:
data_df2.shape[0]/8640

30.0

In [60]:
# Dates and times
data_time = []
for pl_i in idx_date:                             # create data_time indeces to have access later
    time = data_df2.loc[i_date[pl_i]].index
    data_time.append(time)                        # associated to every date segment

In [61]:
time_int = [np.linspace(1, 8640, num = 8640, dtype=int) for _ in range(len(date_list))]

# Plotting

In [63]:
%matplotlib tk

data1 = []
data2 = []
data123 = []

itera = date_list

import numpy as np
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec

gs = gridspec.GridSpec(2, 2)

fig = plt.figure()
#plt.axis([0, 24, -3, 100])

ax1 = fig.add_subplot(gs[0, 0]) # row 0, col 0
ax2 = fig.add_subplot(gs[0, 1]) # row 0, col 1
ax4 = fig.add_subplot(gs[1, :]) # row 1, span all columns

ax1.set_title(sr0, fontdict=None, pad=None)
ax2.set_title(sr1, fontdict=None, pad=None)
full = sr0 + ' '+ sr1
ax4.set_title(full, fontdict=None, pad=None)

fig.suptitle(str(date_list[0].date()), fontsize=12)



if Case == 1:
    ax1.set_ylim([-3,100])
    ax2.set_ylim([-3,100])
    ax4.set_ylim([-3,100])
    
if Case == 2:
    ax1.set_ylim([40,150])
    ax2.set_ylim([40,150])
    ax4.set_ylim([40,150])

for pl_i in range(len(date_list)): 
    ax1.plot(time_int[pl_i], df_bf_00[date_list[pl_i].date()].values, '#C0C0C0', lw=2)
    ax2.plot(time_int[pl_i], df_bf_01[date_list[pl_i].date()].values, '#C0C0C0', lw=2)
    
l, = ax1.plot(time_int[0], df_bf_00[date_list[0].date()].values, '#1E90FF', lw=2)     #the first one is the one in blue
l2, = ax2.plot(time_int[0], df_bf_01[date_list[0].date()].values, '#8B008B')


ll1, = ax4.plot(time_int[0], df_bf_00[date_list[0].date()].values, '#1E90FF')
ll2, = ax4.plot(time_int[0], df_bf_01[date_list[0].date()].values, '#8B008B')




############### Buttons widget  ####################

class Index(object):
    ind = 0

    def next(self, event):
        self.ind += 1
        i = self.ind % len(itera)

        #ydata0 will be the plot alone
        ydata1 = df_bf_00[date_list[i].date()].values   
        ydata2 = df_bf_01[date_list[i].date()].values 
        xdata = time_int[i]          
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        
        ll1.set_ydata(ydata1)
        ll2.set_ydata(ydata2)
        
        ll1.set_xdata(xdata) 
        ll2.set_xdata(xdata)
        
        if (i == (0)):
            fig.suptitle('End of data files - restarting with data file ' + str(date_list[i].date()), fontsize=12)
        else: 
            fig.suptitle(str(date_list[i].date()), fontsize=12)
            
        plt.draw()

    def prev(self, event):
        self.ind -= 1
        i = self.ind % len(itera)
        
        #ydata0 will be the plot alone
        ydata1 = df_bf_00[date_list[i].date()].values 
        ydata2 = df_bf_01[date_list[i].date()].values 
        xdata = time_int[i]  
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        

        ll1.set_ydata(ydata1)
        ll2.set_ydata(ydata2)


        ll1.set_xdata(xdata) 
        ll2.set_xdata(xdata)

        

        if (i == (0)):
            fig.suptitle('End of data files - restarting with data file ' + str(date_list[i].date()), fontsize=12)
        else: 
            fig.suptitle(str(date_list[i].date()), fontsize=12)
            
        plt.draw()

callback = Index()

axprev = plt.axes([0.7, 0.05, 0.1, 0.075])
axnext = plt.axes([0.81, 0.05, 0.1, 0.075])
bnext = Button(axnext, 'Next')
bnext.on_clicked(callback.next)

bprev = Button(axprev, 'Previous')
bprev.on_clicked(callback.prev)

"""
valore = '11'
def presskey(event):
    print('Pressed key = ', event.key)
    #sys.stdout.flush()    
    global valore 
    valore = event.key       
    return valore
"""

def onselect1(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = df_bf_00[date_list[callback.ind % len(itera)].date()].values 
    today = date_list[callback.ind % len(itera)]
   
    indmin1, indmax1 = np.searchsorted(x, (xmin, xmax))
    indmax1 = min(len(x) - 1, indmax1)
    thisx = x[indmin1:indmax1]
    thisy = y[indmin1:indmax1]    
    nplist = np.array([today.date() for i in range(len(thisx))])
        
    a1 = np.c_[nplist, thisx, thisy]
    global data1
    data1.extend(a1)
    #np.savetxt(completeName_label_1, data1)

        

def onselect2(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = df_bf_01[date_list[callback.ind % len(itera)].date()].values 
    today = date_list[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    thisx = x[indmin:indmax]
    thisy = y[indmin:indmax]
    nplist = np.array([today.date() for i in range(len(thisx))])
    
    a2 = np.c_[nplist, thisx, thisy]
    global data2
    data2.extend(a2)
    

def onselect4(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y1 = df_bf_00[date_list[callback.ind % len(itera)].date()].values 
    y2 = df_bf_01[date_list[callback.ind % len(itera)].date()].values
    today = date_list[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    
    thisx = x[indmin:indmax]
    thisy1 = y1[indmin:indmax]
    thisy2 = y2[indmin:indmax]
    nplist = np.array([today.date() for i in range(len(thisx))])
        
    # save
    a123 = np.c_[nplist, thisx, thisy1, thisy2]
    global data123
    data123.extend(a123)

    
"""
# Connect key event to figure
fig.canvas.mpl_connect('key_press_event',presskey)
"""

#class1 = Onselect_1()

spans1 = SpanSelector(ax1, onselect1, 'horizontal', useblit=False,
                      rectprops=dict(alpha=0.5, facecolor='red'), span_stays=True)
span2 = SpanSelector(ax2, onselect2, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red'), span_stays=True )
span4 = SpanSelector(ax4, onselect4, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') , span_stays=True)

## Save raw labels   CHECK

In [12]:
data1 = pd.DataFrame(data1, columns=['date','time_m', sr0])
data2 = pd.DataFrame(data2, columns=['date','time_m', sr1])
data3 = pd.DataFrame(data3, columns=['date','time_m', sr2])
data123 = pd.DataFrame(data123, columns=['date','time_m', sr0, sr1, sr2])


data1.to_csv(os.path.join(save_path, name_of_file_l1+sr0 + ".csv") )
data2.to_csv(os.path.join(save_path, name_of_file_l1+sr1 + ".csv") )
data3.to_csv(os.path.join(save_path, name_of_file_l1+sr2 + ".csv") )
data123.to_csv(os.path.join(save_path, name_of_file_l1+sr0+sr1+sr2 + ".csv") )

Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'

Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'

Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'

Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'

Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 159, in onselect1
    data1.extend(a1)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 193, in onselect3
    data3.extend(a3)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-11-896b60f296ca>", line 214, in onselect4
    data123.extend(a123)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'

In [24]:
data1

Empty DataFrame
Columns: [date, time_m, bf_07]
Index: []

### Back to time

In [25]:
data1_l = data1.copy(deep=True)
data2_l = data2.copy(deep=True)
data3_l = data3.copy(deep=True)
data123_l = data123.copy(deep=True)

In [26]:
data1_l["time"] = None
data2_l["time"] = None 
data3_l["time"] = None 
data123_l["time"] = None 

for iSample in range(data1_l.shape[0]):
    entry = data1.loc[iSample,'time_m']
    time = str(timedelta(minutes=int(entry)))
    data1_l.loc[iSample,'time'] = time
data1_l = data1_l[['date', 'time_m', 'time', sr0]]
data1_l.drop(['time_m'], axis=1, inplace=True)
data1_l['date'] = pd.to_datetime((data1_l['date']), format='%Y-%m-%d')
data1_l['time'] = [x.time() for x in (pd.to_datetime([i for i in data1_l['time']], format='%H:%M:%S'))] 
    

for iSample in range(data2_l.shape[0]):
    entry = data2.loc[iSample,'time_m']
    time = str(timedelta(minutes=int(entry)))
    data2_l.loc[iSample,'time'] = time
data2_l = data2_l[['date', 'time_m', 'time', sr1]]
data2_l.drop(['time_m'], axis=1, inplace=True)
data2_l['date'] = pd.to_datetime((data2_l['date']), format='%Y-%m-%d')
data2_l['time'] = [x.time() for x in (pd.to_datetime([i for i in data2_l['time']], format='%H:%M:%S'))] 
    

for iSample in range(data3_l.shape[0]):
    entry = data3.loc[iSample,'time_m']
    time = str(timedelta(minutes=int(entry)))
    data3_l.loc[iSample,'time'] = time
data3_l = data3_l[['date', 'time_m', 'time', sr2]]
data3_l.drop(['time_m'], axis=1, inplace=True)
data3_l['date'] = pd.to_datetime((data3_l['date']), format='%Y-%m-%d')
data3_l['time'] = [x.time() for x in (pd.to_datetime([i for i in data3_l['time']], format='%H:%M:%S'))] 
   

for iSample in range(data123_l.shape[0]):
    entry = data123.loc[iSample,'time_m']
    time = str(timedelta(minutes=int(entry)))
    data123_l.loc[iSample,'time'] = time
data123_l = data123_l[['date', 'time_m', 'time', sr0, sr1, sr2]]
data123_l.drop(['time_m'], axis=1, inplace=True)
data123_l['date'] = pd.to_datetime((data123_l['date']), format='%Y-%m-%d')
data123_l['time'] = [x.time() for x in (pd.to_datetime([i for i in data123_l['time']], format='%H:%M:%S'))] 
data123_l

Empty DataFrame
Columns: [date, time, bf_07, bl_ceb60, bf_08]
Index: []

Traceback (most recent call last):
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 215, in process
    func(*args, **kwargs)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1597, in release
    self._release(event)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/matplotlib/widgets.py", line 1841, in _release
    self.onselect(vmin, vmax)
  File "<ipython-input-22-896b60f296ca>", line 177, in onselect2
    data2.extend(a2)
  File "/Users/russoste/anaconda3/envs/ADAS_env/lib/python3.6/site-packages/pandas/core/generic.py", line 5067, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'extend'
ERROR:root:Invalid alias: The name clear can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name more can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name less can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name man can't be aliased because it is another magic command.

# Labelled data

In [67]:
data_lab_1 = pd.DataFrame(df_bf_00.copy())
#data_lab_1['Anomaly'] = '0'
data_lab_1 = data_lab_1.reset_index(level=[0,1])

data_lab_2 = pd.DataFrame(df_bf_01.copy())
#data_lab_2['Anomaly'] = '0'
data_lab_2 = data_lab_2.reset_index(level=[0,1])

data_lab_3 = pd.DataFrame(df_bf_02.copy())
#data_lab_3['Anomaly'] = '0'
data_lab_3 = data_lab_3.reset_index(level=[0,1])

data_lab_123 = pd.DataFrame(df_bf_00.copy())
data_lab_123[sr1] = pd.DataFrame(df_bf_01)
data_lab_123[sr2] = pd.DataFrame(df_bf_02)
#data_lab_123['Anomaly'] = '0'
data_lab_123 = data_lab_123.reset_index(level=[0,1])
data_lab_123

            date      time   bf_07   bl_ceb60   bf_08
0     2018-09-01  00:00:00     NaN  19.916871     NaN
1     2018-09-01  00:05:00     NaN  19.908271     NaN
2     2018-09-01  00:10:00     NaN  19.790993     NaN
3     2018-09-01  00:15:00     NaN  19.933870     NaN
4     2018-09-01  00:20:00     NaN  18.531899     NaN
5     2018-09-01  00:25:00     NaN  19.640369     NaN
6     2018-09-01  00:30:00     NaN        NaN     NaN
7     2018-09-01  00:35:00     NaN  18.799678     NaN
8     2018-09-01  00:40:00     NaN  18.584133     NaN
9     2018-09-01  00:45:00     NaN  19.077330     NaN
10    2018-09-01  00:50:00     NaN  18.922252     NaN
11    2018-09-01  00:55:00     NaN  18.114318     NaN
12    2018-09-01  01:00:00     NaN  17.913188     NaN
13    2018-09-01  01:05:00     NaN  18.014643     NaN
14    2018-09-01  01:10:00     NaN  18.539408     NaN
15    2018-09-01  01:15:00     NaN  17.490549     NaN
16    2018-09-01  01:20:00     NaN  19.417392     NaN
17    2018-09-01  01:25:00     NaN  17.380921     NaN
18    2018-09-01  01:30:00     NaN  17.435925     NaN
19    2018-09-01  01:35:00     NaN  15.897702     NaN
20    2018-09-01  01:40:00     NaN  17.757776     NaN
21    2018-09-01  01:45:00  48.552  16.752362     NaN
22    2018-09-01  01:50:00  46.539  16.392916     NaN
23    2018-09-01  01:55:00  47.532  16.331973     NaN
24    2018-09-01  02:00:00  45.476  16.147464     NaN
25    2018-09-01  02:05:00  44.936  15.834622     NaN
26    2018-09-01  02:10:00  43.448  15.451107  47.840
27    2018-09-01  02:15:00  42.683  15.707725     NaN
28    2018-09-01  02:20:00  42.014  15.451107     NaN
29    2018-09-01  02:25:00  41.782  15.515604     NaN
...          ...       ...     ...        ...     ...
20951 2018-11-12  17:45:00  15.147  11.671405  25.174
20952 2018-11-12  17:50:00  15.399  11.742396  24.203
20953 2018-11-12  17:55:00  14.391  11.174072  24.237
20954 2018-11-12  18:00:00  14.472  11.600393  24.509
20955 2018-11-12  18:05:00  14.338  11.955216  23.625
20956 2018-11-12  18:10:00  13.235  11.316205  23.951
20957 2018-11-12  18:15:00  14.096  12.591518  24.132
20958 2018-11-12  18:20:00  14.257  12.026094  24.450
20959 2018-11-12  18:25:00  15.203  11.955216  24.836
20960 2018-11-12  18:30:00  15.133  11.458321  26.011
20961 2018-11-12  18:35:00  14.881  11.458321  25.210
20962 2018-11-12  18:40:00  15.278  11.103006  25.487
20963 2018-11-12  18:45:00  14.111  11.671405  22.168
20964 2018-11-12  18:50:00  12.975  11.458321  22.604
20965 2018-11-12  18:55:00  11.099  11.458321  23.081
20966 2018-11-12  19:00:00  13.846  11.031945  25.850
20967 2018-11-12  19:05:00  13.873  11.387267  24.123
20968 2018-11-12  19:10:00  13.966  11.245139  24.392
20969 2018-11-12  19:15:00  13.992  11.316205  23.546
20970 2018-11-12  19:20:00  13.939  11.458321  22.527
20971 2018-11-12  19:25:00  13.900  11.387267  23.790
20972 2018-11-12  19:30:00  12.681  10.889851  24.066
20973 2018-11-12  19:35:00  12.607  10.960893  23.931
20974 2018-11-12  19:40:00  12.705  11.103006  21.696
20975 2018-11-12  19:45:00  12.742  11.458321  23.071
20976 2018-11-12  19:50:00  12.779  11.316205  21.970
20977 2018-11-12  19:55:00  11.972  10.747814  21.262
20978 2018-11-12  20:00:00  13.403  10.818824  21.937
20979 2018-11-12  20:05:00  11.996  10.818824  22.170
20980 2018-11-12  20:10:00  11.984  10.676825  21.598

[20981 rows x 5 columns]

In [68]:
#labels_df = pd.merge(data_lab_123, data123_l, on = ['date', 'time'], how='left', indicator=True)
labels_df_1 = pd.merge(data_lab_1, data1_l, how='left', indicator=True)
labels_df_2 = pd.merge(data_lab_2, data2_l, how='left', indicator=True)
labels_df_3 = pd.merge(data_lab_3, data3_l, how='left', indicator=True)
labels_df_123 = pd.merge(data_lab_123, data123_l, how='left', indicator=True)

In [69]:
labels_df_1

            date      time   bf_07     _merge
0     2018-09-01  00:00:00     NaN  left_only
1     2018-09-01  00:05:00     NaN  left_only
2     2018-09-01  00:10:00     NaN  left_only
3     2018-09-01  00:15:00     NaN  left_only
4     2018-09-01  00:20:00     NaN  left_only
5     2018-09-01  00:25:00     NaN  left_only
6     2018-09-01  00:30:00     NaN  left_only
7     2018-09-01  00:35:00     NaN  left_only
8     2018-09-01  00:40:00     NaN       both
9     2018-09-01  00:45:00     NaN       both
10    2018-09-01  00:50:00     NaN       both
11    2018-09-01  00:55:00     NaN       both
12    2018-09-01  01:00:00     NaN       both
13    2018-09-01  01:05:00     NaN       both
14    2018-09-01  01:10:00     NaN       both
15    2018-09-01  01:15:00     NaN       both
16    2018-09-01  01:20:00     NaN       both
17    2018-09-01  01:25:00     NaN       both
18    2018-09-01  01:30:00     NaN       both
19    2018-09-01  01:35:00     NaN       both
20    2018-09-01  01:40:00     NaN       both
21    2018-09-01  01:45:00  48.552       both
22    2018-09-01  01:50:00  46.539       both
23    2018-09-01  01:55:00  47.532       both
24    2018-09-01  02:00:00  45.476       both
25    2018-09-01  02:05:00  44.936       both
26    2018-09-01  02:10:00  43.448       both
27    2018-09-01  02:15:00  42.683       both
28    2018-09-01  02:20:00  42.014       both
29    2018-09-01  02:25:00  41.782       both
...          ...       ...     ...        ...
20951 2018-11-12  17:45:00  15.147  left_only
20952 2018-11-12  17:50:00  15.399  left_only
20953 2018-11-12  17:55:00  14.391  left_only
20954 2018-11-12  18:00:00  14.472  left_only
20955 2018-11-12  18:05:00  14.338  left_only
20956 2018-11-12  18:10:00  13.235  left_only
20957 2018-11-12  18:15:00  14.096  left_only
20958 2018-11-12  18:20:00  14.257  left_only
20959 2018-11-12  18:25:00  15.203  left_only
20960 2018-11-12  18:30:00  15.133  left_only
20961 2018-11-12  18:35:00  14.881  left_only
20962 2018-11-12  18:40:00  15.278  left_only
20963 2018-11-12  18:45:00  14.111  left_only
20964 2018-11-12  18:50:00  12.975  left_only
20965 2018-11-12  18:55:00  11.099  left_only
20966 2018-11-12  19:00:00  13.846  left_only
20967 2018-11-12  19:05:00  13.873  left_only
20968 2018-11-12  19:10:00  13.966  left_only
20969 2018-11-12  19:15:00  13.992  left_only
20970 2018-11-12  19:20:00  13.939  left_only
20971 2018-11-12  19:25:00  13.900  left_only
20972 2018-11-12  19:30:00  12.681  left_only
20973 2018-11-12  19:35:00  12.607  left_only
20974 2018-11-12  19:40:00  12.705  left_only
20975 2018-11-12  19:45:00  12.742  left_only
20976 2018-11-12  19:50:00  12.779  left_only
20977 2018-11-12  19:55:00  11.972  left_only
20978 2018-11-12  20:00:00  13.403  left_only
20979 2018-11-12  20:05:00  11.996  left_only
20980 2018-11-12  20:10:00  11.984  left_only

[20981 rows x 4 columns]

In [70]:
# ADD zeros and ones with dictionary mapping

mapper_dict = {'left_only': 0, 'both': 1}

def mp(entry):
    """
    maps new values
    """
    return mapper_dict[entry] if entry in mapper_dict else entry
mp = np.vectorize(mp)

In [71]:
labels_df_1 ['_merge'] = mp(labels_df_1['_merge'])
labels_df_2 ['_merge'] = mp(labels_df_2['_merge'])
labels_df_3 ['_merge'] = mp(labels_df_3['_merge'])
labels_df_123 ['_merge'] = mp(labels_df_123['_merge'])

In [72]:
labels_df_1 = labels_df_1.rename(index=str, columns={"_merge": "Anomaly"})
labels_df_2 = labels_df_2.rename(index=str, columns={"_merge": "Anomaly"})
labels_df_3 = labels_df_3.rename(index=str, columns={"_merge": "Anomaly"})
labels_df_123 = labels_df_123.rename(index=str, columns={"_merge": "Anomaly"})

In [73]:
labels_df_1.to_csv(os.path.join(save_path, name_of_file_l1_time+sr0 + ".csv") )
labels_df_2.to_csv(os.path.join(save_path, name_of_file_l1_time+sr1 + ".csv") )
labels_df_3.to_csv(os.path.join(save_path, name_of_file_l1_time+sr2 + ".csv") )
labels_df_123.to_csv(os.path.join(save_path, name_of_file_l1_time+sr0+sr1+sr2 + ".csv") )

In [76]:
labels_df_1

            date      time   bf_07  Anomaly
0     2018-09-01  00:00:00     NaN        0
1     2018-09-01  00:05:00     NaN        0
2     2018-09-01  00:10:00     NaN        0
3     2018-09-01  00:15:00     NaN        0
4     2018-09-01  00:20:00     NaN        0
5     2018-09-01  00:25:00     NaN        0
6     2018-09-01  00:30:00     NaN        0
7     2018-09-01  00:35:00     NaN        0
8     2018-09-01  00:40:00     NaN        1
9     2018-09-01  00:45:00     NaN        1
10    2018-09-01  00:50:00     NaN        1
11    2018-09-01  00:55:00     NaN        1
12    2018-09-01  01:00:00     NaN        1
13    2018-09-01  01:05:00     NaN        1
14    2018-09-01  01:10:00     NaN        1
15    2018-09-01  01:15:00     NaN        1
16    2018-09-01  01:20:00     NaN        1
17    2018-09-01  01:25:00     NaN        1
18    2018-09-01  01:30:00     NaN        1
19    2018-09-01  01:35:00     NaN        1
20    2018-09-01  01:40:00     NaN        1
21    2018-09-01  01:45:00  48.552        1
22    2018-09-01  01:50:00  46.539        1
23    2018-09-01  01:55:00  47.532        1
24    2018-09-01  02:00:00  45.476        1
25    2018-09-01  02:05:00  44.936        1
26    2018-09-01  02:10:00  43.448        1
27    2018-09-01  02:15:00  42.683        1
28    2018-09-01  02:20:00  42.014        1
29    2018-09-01  02:25:00  41.782        1
...          ...       ...     ...      ...
20951 2018-11-12  17:45:00  15.147        0
20952 2018-11-12  17:50:00  15.399        0
20953 2018-11-12  17:55:00  14.391        0
20954 2018-11-12  18:00:00  14.472        0
20955 2018-11-12  18:05:00  14.338        0
20956 2018-11-12  18:10:00  13.235        0
20957 2018-11-12  18:15:00  14.096        0
20958 2018-11-12  18:20:00  14.257        0
20959 2018-11-12  18:25:00  15.203        0
20960 2018-11-12  18:30:00  15.133        0
20961 2018-11-12  18:35:00  14.881        0
20962 2018-11-12  18:40:00  15.278        0
20963 2018-11-12  18:45:00  14.111        0
20964 2018-11-12  18:50:00  12.975        0
20965 2018-11-12  18:55:00  11.099        0
20966 2018-11-12  19:00:00  13.846        0
20967 2018-11-12  19:05:00  13.873        0
20968 2018-11-12  19:10:00  13.966        0
20969 2018-11-12  19:15:00  13.992        0
20970 2018-11-12  19:20:00  13.939        0
20971 2018-11-12  19:25:00  13.900        0
20972 2018-11-12  19:30:00  12.681        0
20973 2018-11-12  19:35:00  12.607        0
20974 2018-11-12  19:40:00  12.705        0
20975 2018-11-12  19:45:00  12.742        0
20976 2018-11-12  19:50:00  12.779        0
20977 2018-11-12  19:55:00  11.972        0
20978 2018-11-12  20:00:00  13.403        0
20979 2018-11-12  20:05:00  11.996        0
20980 2018-11-12  20:10:00  11.984        0

[20981 rows x 4 columns]

# Other useful commands 
### Back to multi-indexing

In [ ]:
data_lab_1.set_index(['date','time'], inplace=True)
data_lab_2.set_index(['date','time'], inplace=True)
data_lab_3.set_index(['date','time'], inplace=True)
data_lab_123.set_index(['date','time'], inplace=True)

In [250]:
data1_ll = data1_l.copy(deep=True)
data1_ll.set_index(['date','time'], inplace=True)

data2_ll = data2_l.copy(deep=True)
data2_ll.set_index(['date','time'], inplace=True)

data3_ll = data3_l.copy(deep=True)
data3_ll.set_index(['date','time'], inplace=True)

data123_ll = data123_l.copy(deep=True)
data123_ll.set_index(['date','time'], inplace=True)

In [251]:
# Accessing dates
i_date = data1_ll.index.get_level_values(0)                                      # get all dates
idx_date = np.unique(data1_ll.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all unique dates

# Accessing dates
i_date2 = data_lab_1.index.get_level_values(0)                                      # get all dates
idx_date2 = np.unique(data_lab_1.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list2 = i_date2[idx_date2]   # get list of all unique dates