# Iniziatization

In [2]:
# Import Statements
import os

import numpy as np
import pandas as pd
import csv
import datetime as dt

import matplotlib.pyplot as plt
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec
from matplotlib.widgets import Button
from matplotlib.widgets import SpanSelector
import itertools

from sklearn import preprocessing
import seaborn as sns

import datetime as datetime

In [3]:

# WINDOWS server: KV can find the data here
# path_all = ('//eaw-dc02/ea-daten/Abteilungsprojekte/eng/SWWData/2018_datValX/4_workspace/R/')

# iOS server: SR can find the data here
# path_all = ("/Volumes/UWO/")

# On SR's laptop
path_all = ('/Users/russoste/Desktop/Z_UWO/Data/')

name_of_file1 = '181128_trialData_UWOforADASen_case1.csv'
name_of_file2 = '181128_trialData_UWOforADASen_case2.csv'

save_path = path_all     # Destination folder to for saving text file
name_of_file_l1 = "Labels_1"
name_of_file_l2 = "Labels_2"
completeName_label_1 = os.path.join(save_path, name_of_file_l_1 + ".txt") 
completeName_label_2 = os.path.join(save_path, name_of_file_l_2 + ".txt")



# To Do:

* Case 2 has not been implemented with 3am-3am 
* I would like to recreate the multi-indexed dataframe after creating series 3am-3am. Dates are missing
* Plot titles have changed but not the content - ask Andy for confirmation OK I NEED TO CHANGE THEM
* Use idx to save/append anomalous data with its proper x-index and dateframe index number
* Connect datetime values to linespace values used to plot - so save the data


Only 100 and 73 cases are shown. SImulation data can be added but it is too perfect

# Load data  - CASE 1

In [7]:
# Load data
completePath = os.path.join(path_all, name_of_file1) 
df = pd.read_csv(completePath)


df2 = df.copy(deep=True)
df2['date'], df2['time'] = df2['time'].str.split(' ', 1).str

sr0 = df2.keys()[1]
sr1 = df2.keys()[2]
sr2 = df2.keys()[3]
print('Sensor names:',sr0,',', sr1,',', sr2)

# Replace extreme values with zeros and create datetime
# Replace extreme values with zeros and create datetime

df2[sr0] = df2[sr0].replace([-9999.000], 0)
df2[sr1] = df2[sr1].replace([-9999.000], 0)
df2[sr2] = df2[sr2].replace([-9999.000], 0)
df2['date'] = [x.date() for x in (pd.to_datetime([i for i in df2['date']], format='%Y-%m-%d'))] 
df2['time'] = [x.time() for x in (pd.to_datetime([i for i in df2['time']], format='%H:%M:%S'))]   # remove primes from the time
df1 = df2.copy(deep=True)
df2.set_index(['date','time'], inplace=True)

Sensor names: bf_03 , bf_04 , bl_ce193

## Basic sanity checks

In [9]:
# Accessing dates
i_date = df2.index.get_level_values(0)          # get all dates
idx_date = np.unique(df2.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
print('Unique dates:',date_list)

Unique dates: DatetimeIndex(['2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09',
               '2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13',
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-17',
               '2018-03-18', '2018-03-19', '2018-03-20', '2018-03-21',
               '2018-03-22', '2018-03-23', '2018-03-24', '2018-03-25',
               '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-03-31', '2018-04-01', '2018-04-02',
               '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06',
               '2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
               '2018-04-15', '2018-04-16', '2018-04-17', '2018-04-18',
               '2018-04-19', '2018-04-20', '2018-04-21', '2018-04-22',
               '2018-04-23', '2018-04-24', '2018-04-25'],
              dtype='datetime64[ns]', name='date', freq=None)

In [11]:
df_bf_00 = df2[sr0]
df_bf_01 = df2[sr1]
df_bf_02 = df2[sr2]

for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) != 288:
        print('Corrupted date:', date_list[pl_i].date())
        print('Corrupted date index:',idx_date[pl_i])
        print('Corrupted date shape:', df2.loc[date_list[pl_i].date()].shape)

Corrupted date: 2018-04-25
Corrupted date index: 14400
Corrupted date shape: (145, 3)

In [13]:
# Remove corrupted dataframe and compute new date list
data_df = df2[:-145]

# Accessing dates
i_date = data_df.index.get_level_values(0)          # get all dates
idx_date = np.unique(data_df.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
print('Unique dates',date_list)

# Dates and times
data_time = []
for pl_i in idx_date:                             # create data_time indeces to have access later
    time = data_df.loc[i_date[pl_i]].index
    data_time.append(time)

Unique dates DatetimeIndex(['2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09',
               '2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13',
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-17',
               '2018-03-18', '2018-03-19', '2018-03-20', '2018-03-21',
               '2018-03-22', '2018-03-23', '2018-03-24', '2018-03-25',
               '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-03-31', '2018-04-01', '2018-04-02',
               '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06',
               '2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
               '2018-04-15', '2018-04-16', '2018-04-17', '2018-04-18',
               '2018-04-19', '2018-04-20', '2018-04-21', '2018-04-22',
               '2018-04-23', '2018-04-24'],
              dtype='datetime64[ns]', name='date', freq=None)

## Create 3am-3am data sets

In [15]:
# Data points from 00:00:00 till 02:55:00
tmp0 = data_df[sr0]
tmp1 = tmp0[date_list[0].date()].loc[datetime.time(0,0,0):datetime.time(2,55,0)]
tmp2 = tmp0[date_list[0].date()].loc[datetime.time(3,0,0):datetime.time(23,55,0)]
print(len(tmp1), len(tmp2))

X = data_df.values
X = X[len(tmp1) : -len(tmp2)]     # this is my new data set

36 252

### Create individual lists of data

In [17]:
# Here divide in 3 sections : data_sr0, data_sr1, data_sr2, and data_all = X
nc = X.shape[0]/288
print('Number of examples:', nc)

Number of examples: 49.0

In [18]:
data_sr0 = X[:,0]
data_sr1 = X[:,1]
data_sr2 = X[:,2]

data_sr0 = np.array(np.split(data_sr0,nc))      # Divide data in shape for plotting
data_sr1 = np.array(np.split(data_sr1,nc))
data_sr2 = np.array(np.split(data_sr2,nc))

In [41]:
date_list_n = len(data_sr0)  # I have lost part of the data (last day)
dates = date_list[0:len(data_sr0)]

time_int = []
for ind in range(X.shape[0]):
    time = np.linspace(00.0, 23.55, num=len(data_sr0[0]))
    time_int.append(time)

In [42]:
''' Save file
name_of_file_d = "data_all"
completeName_data = os.path.join(save_path, name_of_file_d + ".csv") 

with open(completeName_data, "a") as output:
    output.write(str(X))
'''

' Save file\nname_of_file_d = "data_all"\ncompleteName_data = os.path.join(save_path, name_of_file_d + ".csv") \n\nwith open(completeName_data, "a") as output:\n    output.write(str(X))\n'

# Plotting - Annotation case 1

In [48]:
%matplotlib tk

itera = dates

import numpy as np
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec

gs = gridspec.GridSpec(2, 3)

fig = plt.figure()
#plt.axis([0, 24, -3, 100])

ax1 = fig.add_subplot(gs[0, 0]) # row 0, col 0
ax2 = fig.add_subplot(gs[0, 1]) # row 0, col 1
ax3 = fig.add_subplot(gs[0, 2]) # row 0, col 1
ax4 = fig.add_subplot(gs[1, :]) # row 1, span all columns

ax1.set_title('bf_03', fontdict=None, pad=None)
ax2.set_title('bf_04', fontdict=None, pad=None)
ax3.set_title('bl_ce193', fontdict=None, pad=None)
ax4.set_title('bf_03 + bf_04 + bl_ce193', fontdict=None, pad=None)

ax1.set_ylim([-3,100])
ax2.set_ylim([-3,100])
ax3.set_ylim([-3,100])
ax4.set_ylim([-3,100])

for pl_i in range(len(dates)): 
    ax1.plot(time_int[pl_i], data_sr0[pl_i], '#C0C0C0', lw=2)
    ax2.plot(time_int[pl_i], data_sr1[pl_i], '#C0C0C0', lw=2)
    ax3.plot(time_int[pl_i], data_sr2[pl_i],  '#C0C0C0',lw=2) 
    
l, = ax1.plot(time_int[0], data_sr0[0], '#1E90FF', lw=2)     #the first one is the one in blue
l2, = ax2.plot(time_int[0], data_sr1[0], '#8B008B')
l3, = ax3.plot(time_int[0], data_sr2[0],'#FFDAB9')


ll1, = ax4.plot(time_int[0], data_sr0[0], '#1E90FF')
ll2, = ax4.plot(time_int[0], data_sr1[0], '#8B008B')
ll3, = ax4.plot(time_int[0],  data_sr2[0], '#FFDAB9')


############### Buttons widget  ####################

class Index(object):
    ind = 0

    def next(self, event):
        self.ind += 1
        i = self.ind % len(itera)

        #ydata0 will be the plot alone
        ydata1 = data_sr0[i]   
        ydata2 = data_sr1[i] 
        ydata3 = data_sr2[i]
        xdata = time_int[i]          
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        l3.set_ydata(ydata3)
        l3.set_xdata(xdata)
        
        ll1.set_ydata(ydata1)
        ll2.set_ydata(ydata2)
        ll3.set_ydata(ydata3) 
        
        ll1.set_xdata(xdata) 
        ll2.set_xdata(xdata)
        ll3.set_xdata(xdata)
        
        plt.draw()

    def prev(self, event):
        self.ind -= 1
        i = self.ind % len(itera)
        
        #ydata0 will be the plot alone
        ydata1 = data_sr0[i]   
        ydata2 = data_sr1[i] 
        ydata3 = data_sr2[i]
        xdata = time_int[i]          
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        
        l3.set_ydata(ydata3)
        l3.set_xdata(xdata)

        ll1.set_ydata(ydata1)
        ll2.set_ydata(ydata2)
        ll3.set_ydata(ydata3) 

        ll1.set_xdata(xdata) 
        ll2.set_xdata(xdata)
        ll3.set_xdata(xdata)
        
        plt.draw()

callback = Index()

axprev = plt.axes([0.7, 0.05, 0.1, 0.075])
axnext = plt.axes([0.81, 0.05, 0.1, 0.075])
bnext = Button(axnext, 'Next')
bnext.on_clicked(callback.next)

bprev = Button(axprev, 'Previous')
bprev.on_clicked(callback.prev)

"""
valore = '11'
def presskey(event):
    print('Pressed key = ', event.key)
    #sys.stdout.flush()    
    global valore 
    valore = event.key       
    return valore
"""

def onselect1(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = data_sr0[callback.ind % len(itera)]
    indmin1, indmax1 = np.searchsorted(x, (xmin, xmax))
    indmax1 = min(len(x) - 1, indmax1)
    thisx1 = x[indmin1:indmax1]
    thisy1 = y[indmin1:indmax1]    
    # save
    np.savetxt("text1_0", np.c_[thisx1, thisy1])
        

def onselect2(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = data_sr1[callback.ind % len(itera)]
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    thisx = x[indmin:indmax]
    thisy = y[indmin:indmax]    
    # save
    np.savetxt("text2", np.c_[thisx, thisy])
    

def onselect3(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = data_sr2[callback.ind % len(itera)]
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    thisx = x[indmin:indmax]
    thisy = y[indmin:indmax]    
    # save
    np.savetxt("text3", np.c_[thisx, thisy])

def onselect4(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y1 = data_sr0[callback.ind % len(itera)]
    y2 = data_sr1[callback.ind % len(itera)]
    y3 = data_sr2[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    
    thisx = x[indmin:indmax]
    thisy1 = y1[indmin:indmax]
    thisy2 = y2[indmin:indmax]
    thisy3 = y3[indmin:indmax]       
    # save
    np.savetxt("text4_0", np.c_[thisx, thisy1, thisy2, thisy3])

    
"""
# Connect key event to figure
fig.canvas.mpl_connect('key_press_event',presskey)
"""

#class1 = Onselect_1()

spans1 = SpanSelector(ax1, onselect1, 'horizontal', useblit=False,
                      rectprops=dict(alpha=0.5, facecolor='red') )
span2 = SpanSelector(ax2, onselect2, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') )
span3 = SpanSelector(ax3, onselect3, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') )
span4 = SpanSelector(ax4, onselect4, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') )

# Load data  - CASE 2

In [100]:
# Load data
completePath = os.path.join(path_all, name_of_file2) 
df = pd.read_csv(completePath)


df2 = df.copy(deep=True)
df2['date'], df2['time'] = df2['time'].str.split(' ', 1).str

sr0 = df2.keys()[1]
sr1 = df2.keys()[2]
sr2 = df2.keys()[3]
print('Sensor names:',sr0,',', sr1,',', sr2)

# Replace extreme values with zeros and create datetime
# Replace extreme values with zeros and create datetime

df2[sr0] = df2[sr0].replace([-9999.000], 0)
df2[sr1] = df2[sr1].replace([-9999.000], 0)
df2[sr2] = df2[sr2].replace([-9999.000], 0)
df2['date'] = [x.date() for x in (pd.to_datetime([i for i in df2['date']], format='%Y-%m-%d'))] 
df2['time'] = [x.time() for x in (pd.to_datetime([i for i in df2['time']], format='%H:%M:%S'))]   # remove primes from the time
df1 = df2.copy(deep=True)
df2.set_index(['date','time'], inplace=True)

Sensor names: bf_07 , bl_ceb60 , bf_08

## Basic sanity checks

In [101]:
# Accessing dates
i_date = df2.index.get_level_values(0)          # get all dates
idx_date = np.unique(df2.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
print('Unique dates:',date_list)

Unique dates: DatetimeIndex(['2018-09-01', '2018-09-02', '2018-09-03', '2018-09-04',
               '2018-09-05', '2018-09-06', '2018-09-07', '2018-09-08',
               '2018-09-09', '2018-09-10', '2018-09-11', '2018-09-12',
               '2018-09-13', '2018-09-14', '2018-09-15', '2018-09-16',
               '2018-09-17', '2018-09-18', '2018-09-19', '2018-09-20',
               '2018-09-21', '2018-09-22', '2018-09-23', '2018-09-24',
               '2018-09-25', '2018-09-26', '2018-09-27', '2018-09-28',
               '2018-09-29', '2018-09-30', '2018-10-01', '2018-10-02',
               '2018-10-03', '2018-10-04', '2018-10-05', '2018-10-06',
               '2018-10-07', '2018-10-08', '2018-10-09', '2018-10-10',
               '2018-10-11', '2018-10-12', '2018-10-13', '2018-10-14',
               '2018-10-15', '2018-10-16', '2018-10-17', '2018-10-18',
               '2018-10-19', '2018-10-20', '2018-10-21', '2018-10-22',
               '2018-10-23', '2018-10-24', '2018-10-25', '2018-10-26',
               '2018-10-27', '2018-10-28', '2018-10-29', '2018-10-30',
               '2018-10-31', '2018-11-01', '2018-11-02', '2018-11-03',
               '2018-11-04', '2018-11-05', '2018-11-06', '2018-11-07',
               '2018-11-08', '2018-11-09', '2018-11-10', '2018-11-11',
               '2018-11-12'],
              dtype='datetime64[ns]', name='date', freq=None)

In [102]:
df_bf_00 = df2[sr0]
df_bf_01 = df2[sr1]
df_bf_02 = df2[sr2]

for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) != 288:
        print('Corrupted date:', date_list[pl_i].date())
        print('Corrupted date index:',idx_date[pl_i])
        print('Corrupted date shape:', df2.loc[date_list[pl_i].date()].shape)

Corrupted date: 2018-10-16
Corrupted date index: 12960
Corrupted date shape: (290, 3)
Corrupted date: 2018-11-12
Corrupted date index: 20738
Corrupted date shape: (243, 3)

In [103]:
df2.drop(index='2018-10-16', level=0,inplace=True)

In [106]:
data_df = df2[:-243]

In [107]:
# Accessing dates
i_date = data_df.index.get_level_values(0)          # get all dates
idx_date = np.unique(data_df.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
print('Unique dates:',date_list)
df_bf_00 = data_df[sr0]
df_bf_01 = data_df[sr1]
df_bf_02 = data_df[sr2]

for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) != 288:
        print('Corrupted date:', date_list[pl_i].date())
        print('Corrupted date index:',idx_date[pl_i])
        print('Corrupted date shape:', data_df.loc[date_list[pl_i].date()].shape)

Unique dates: DatetimeIndex(['2018-09-01', '2018-09-02', '2018-09-03', '2018-09-04',
               '2018-09-05', '2018-09-06', '2018-09-07', '2018-09-08',
               '2018-09-09', '2018-09-10', '2018-09-11', '2018-09-12',
               '2018-09-13', '2018-09-14', '2018-09-15', '2018-09-16',
               '2018-09-17', '2018-09-18', '2018-09-19', '2018-09-20',
               '2018-09-21', '2018-09-22', '2018-09-23', '2018-09-24',
               '2018-09-25', '2018-09-26', '2018-09-27', '2018-09-28',
               '2018-09-29', '2018-09-30', '2018-10-01', '2018-10-02',
               '2018-10-03', '2018-10-04', '2018-10-05', '2018-10-06',
               '2018-10-07', '2018-10-08', '2018-10-09', '2018-10-10',
               '2018-10-11', '2018-10-12', '2018-10-13', '2018-10-14',
               '2018-10-15', '2018-10-17', '2018-10-18', '2018-10-19',
               '2018-10-20', '2018-10-21', '2018-10-22', '2018-10-23',
               '2018-10-24', '2018-10-25', '2018-10-26', '2018-10-27',
               '2018-10-28', '2018-10-29', '2018-10-30', '2018-10-31',
               '2018-11-01', '2018-11-02', '2018-11-03', '2018-11-04',
               '2018-11-05', '2018-11-06', '2018-11-07', '2018-11-08',
               '2018-11-09', '2018-11-10', '2018-11-11'],
              dtype='datetime64[ns]', name='date', freq=None)

## Create 3am-3am data sets

In [108]:
# Data points from 00:00:00 till 02:55:00
tmp0 = data_df[sr0]
tmp1 = tmp0[date_list[0].date()].loc[datetime.time(0,0,0):datetime.time(2,55,0)]
tmp2 = tmp0[date_list[0].date()].loc[datetime.time(3,0,0):datetime.time(23,55,0)]
print(len(tmp1), len(tmp2))

X = data_df.values
X = X[len(tmp1) : -len(tmp2)]     # this is my new data set

36 252

### Create individual lists of data

In [109]:
# Here divide in 3 sections : data_sr0, data_sr1, data_sr2, and data_all = X
nc = X.shape[0]/288
print('Number of examples:', nc)

Number of examples: 70.0

In [110]:
data_sr0 = X[:,0]
data_sr1 = X[:,1]
data_sr2 = X[:,2]

data_sr0 = np.array(np.split(data_sr0,nc))      # Divide data in shape for plotting
data_sr1 = np.array(np.split(data_sr1,nc))
data_sr2 = np.array(np.split(data_sr2,nc))

In [111]:
date_list_n = len(data_sr0)  # I have lost part of the data (last day)
dates = date_list[0:len(data_sr0)]

time_int = []
for ind in range(X.shape[0]):
    time = np.linspace(00.0, 23.55, num=len(data_sr0[0]))
    time_int.append(time)

In [112]:
''' Save file
name_of_file_d = "data_all"
completeName_data = os.path.join(save_path, name_of_file_d + ".csv") 

with open(completeName_data, "a") as output:
    output.write(str(X))
'''

' Save file\nname_of_file_d = "data_all"\ncompleteName_data = os.path.join(save_path, name_of_file_d + ".csv") \n\nwith open(completeName_data, "a") as output:\n    output.write(str(X))\n'

# Plotting - Annotation case 2

288

In [116]:
%matplotlib tk

itera = dates

x = np.array([0,1,2,3])
y = np.array([20,21,22,23])
my_xticks = ['John','Arnold','Mavis','Matt']
plt.xticks(x, my_xticks)
plt.plot(x, y)
plt.show()



import numpy as np
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec

gs = gridspec.GridSpec(2, 3)

fig = plt.figure()
#plt.axis([0, 24, -3, 100])

ax1 = fig.add_subplot(gs[0, 0]) # row 0, col 0
ax2 = fig.add_subplot(gs[0, 1]) # row 0, col 1
ax3 = fig.add_subplot(gs[0, 2]) # row 0, col 1
ax4 = fig.add_subplot(gs[1, :]) # row 1, span all columns

ax1.set_title('bf_07', fontdict=None, pad=None)
ax2.set_title('bl_ceb60', fontdict=None, pad=None)
ax3.set_title('bf_08', fontdict=None, pad=None)
ax4.set_title('bf_07 + bl_ceb60 + bf_08', fontdict=None, pad=None)

ax1.set_ylim([-3,100])
ax2.set_ylim([-3,100])
ax3.set_ylim([-3,100])
ax4.set_ylim([-3,100])


my_xticks = ['ciao']*size
ax1.xticks = (my_xticks)



for pl_i in range(len(dates)): 
    ax1.plot(time_int[pl_i], data_sr0[pl_i], '#C0C0C0', lw=2)
    ax2.plot(time_int[pl_i], data_sr1[pl_i], '#C0C0C0', lw=2)
    ax3.plot(time_int[pl_i], data_sr2[pl_i],  '#C0C0C0',lw=2) 
    
l, = ax1.plot(time_int[0], data_sr0[0], '#1E90FF', lw=2)     #the first one is the one in blue
l2, = ax2.plot(time_int[0], data_sr1[0], '#8B008B')
l3, = ax3.plot(time_int[0], data_sr2[0],'#FFDAB9')


ll1, = ax4.plot(time_int[0], data_sr0[0], '#1E90FF')
ll2, = ax4.plot(time_int[0], data_sr1[0], '#8B008B')
ll3, = ax4.plot(time_int[0],  data_sr2[0], '#FFDAB9')



############### Buttons widget  ####################

class Index(object):
    ind = 0

    def next(self, event):
        self.ind += 1
        i = self.ind % len(itera)

        #ydata0 will be the plot alone
        ydata1 = data_sr0[i]   
        ydata2 = data_sr1[i] 
        ydata3 = data_sr2[i]
        xdata = time_int[i]          
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        l3.set_ydata(ydata3)
        l3.set_xdata(xdata)
        
        ll1.set_ydata(ydata1)
        ll2.set_ydata(ydata2)
        ll3.set_ydata(ydata3) 
        
        ll1.set_xdata(xdata) 
        ll2.set_xdata(xdata)
        ll3.set_xdata(xdata)
        
        plt.draw()

    def prev(self, event):
        self.ind -= 1
        i = self.ind % len(itera)
        
        #ydata0 will be the plot alone
        ydata1 = data_sr0[i]   
        ydata2 = data_sr1[i] 
        ydata3 = data_sr2[i]
        xdata = time_int[i]          
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        
        l3.set_ydata(ydata3)
        l3.set_xdata(xdata)

        ll1.set_ydata(ydata1)
        ll2.set_ydata(ydata2)
        ll3.set_ydata(ydata3) 

        ll1.set_xdata(xdata) 
        ll2.set_xdata(xdata)
        ll3.set_xdata(xdata)
        
        plt.draw()

callback = Index()

axprev = plt.axes([0.7, 0.05, 0.1, 0.075])
axnext = plt.axes([0.81, 0.05, 0.1, 0.075])
bnext = Button(axnext, 'Next')
bnext.on_clicked(callback.next)

bprev = Button(axprev, 'Previous')
bprev.on_clicked(callback.prev)

"""
valore = '11'
def presskey(event):
    print('Pressed key = ', event.key)
    #sys.stdout.flush()    
    global valore 
    valore = event.key       
    return valore
"""

def onselect1(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = data_sr0[callback.ind % len(itera)]
    indmin1, indmax1 = np.searchsorted(x, (xmin, xmax))
    indmax1 = min(len(x) - 1, indmax1)
    thisx1 = x[indmin1:indmax1]
    thisy1 = y[indmin1:indmax1]    
    # save
    np.savetxt("text1_0", np.c_[thisx1, thisy1])
        

def onselect2(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = data_sr1[callback.ind % len(itera)]
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    thisx = x[indmin:indmax]
    thisy = y[indmin:indmax]    
    # save
    np.savetxt("text2", np.c_[thisx, thisy])
    

def onselect3(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = data_sr2[callback.ind % len(itera)]
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    thisx = x[indmin:indmax]
    thisy = y[indmin:indmax]    
    # save
    np.savetxt("text3", np.c_[thisx, thisy])

def onselect4(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y1 = data_sr0[callback.ind % len(itera)]
    y2 = data_sr1[callback.ind % len(itera)]
    y3 = data_sr2[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    
    thisx = x[indmin:indmax]
    thisy1 = y1[indmin:indmax]
    thisy2 = y2[indmin:indmax]
    thisy3 = y3[indmin:indmax]       
    # save
    np.savetxt("text4_0", np.c_[thisx, thisy1, thisy2, thisy3])

    
"""
# Connect key event to figure
fig.canvas.mpl_connect('key_press_event',presskey)
"""

#class1 = Onselect_1()

spans1 = SpanSelector(ax1, onselect1, 'horizontal', useblit=False,
                      rectprops=dict(alpha=0.5, facecolor='red') )
span2 = SpanSelector(ax2, onselect2, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') )
span3 = SpanSelector(ax3, onselect3, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') )
span4 = SpanSelector(ax4, onselect4, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') )

# Post processing of labels

In [139]:
# Creating individual and collective labelled data

bf_07 = pd.DataFrame(df2['bf_07'])
bf_08 = pd.DataFrame(df2['bf_08'])
bl_ceb60 = pd.DataFrame(df2['bl_ceb60'])
bf_bl_all = df2.copy(deep=True)

In [144]:
# Index of Date and time for correspondece
time_tmp = np.array(data_time[1])
arrsy = [time_int[1], time_tmp]
dfy = np.array(arrsy)
dfy = pd.DataFrame(data=dfy)  # 1st row as the column names
print(dfy)
print(dfy[0].iloc[1])    # get access to time
#dfy.iloc[1,0]
#dfy.iloc[1]

        0          1         2         3         4         5         6    \
0         0  0.0820557  0.164111  0.246167  0.328223  0.410279  0.492334
1  00:00:00   00:05:00  00:10:00  00:15:00  00:20:00  00:25:00  00:30:00

        7         8         9      ...          278       279       280  \
0   0.57439  0.656446  0.738502    ...      22.8115   22.8936   22.9756
1  00:35:00  00:40:00  00:45:00    ...     23:10:00  23:15:00  23:20:00

        281       282       283       284       285       286       287
0   23.0577   23.1397   23.2218   23.3038   23.3859   23.4679     23.55
1  23:25:00  23:30:00  23:35:00  23:40:00  23:45:00  23:50:00  23:55:00

[2 rows x 288 columns]
00:00:00

In [141]:
#idx_date

In [146]:
# Identified index of anomalous data
b = np.transpose(a)
pd.DataFrame(b)

              0        1       2
0    2018-09-01  12.2263  19.323
1    2018-09-01  12.3084  20.899
2    2018-09-01  12.3904  20.263
3    2018-09-01  12.4725  20.914
4    2018-09-01  12.5545  20.715
5    2018-09-01  12.6366  20.599
6    2018-09-01  12.7186  19.611
7    2018-09-01  12.8007   19.27
8    2018-09-01  12.8828  19.395
9    2018-09-01  12.9648  19.567
10   2018-09-01  13.0469   18.79
11   2018-09-01  13.1289  18.777
12   2018-09-01   13.211  18.799
13   2018-09-01   13.293  18.393
14   2018-09-01  13.3751  18.281
15   2018-09-01  13.4571  18.289
16   2018-09-01  13.5392  18.176
17   2018-09-01  13.6213  18.791
18   2018-09-01  13.7033  18.934
19   2018-09-01  13.7854  18.602
20   2018-09-01  13.8674  17.936
21   2018-09-01  13.9495  18.225
22   2018-09-01  14.0315  18.841
23   2018-09-01  14.1136  18.573
24   2018-09-01  14.1956  18.337
25   2018-09-01  14.2777  18.445
26   2018-09-01  14.3598  19.864
27   2018-09-01  14.4418  22.107
28   2018-09-01  14.5239  22.695
29   2018-09-01  14.6059  22.165
..          ...      ...     ...
97   2018-09-01  20.1857  14.288
98   2018-09-01  20.2678  14.712
99   2018-09-01  20.3498  14.564
100  2018-09-01  20.4319   14.92
101  2018-09-01  20.5139  13.243
102  2018-09-01   20.596  13.836
103  2018-09-01   20.678  12.601
104  2018-09-01  20.7601  12.624
105  2018-09-01  20.8422  12.759
106  2018-09-01  20.9242  13.264
107  2018-09-01  21.0063   13.78
108  2018-09-01  21.0883  14.109
109  2018-09-01  21.1704  13.899
110  2018-09-01  21.2524  14.253
111  2018-09-01  21.3345  13.335
112  2018-09-01  21.4166  13.857
113  2018-09-01  21.4986  13.138
114  2018-09-01  21.5807   13.18
115  2018-09-01  21.6627  13.492
116  2018-09-01  21.7448  12.241
117  2018-09-01  21.8268  12.011
118  2018-09-01  21.9089  12.282
119  2018-09-01  21.9909  12.926
120  2018-09-01   22.073  12.577
121  2018-09-01  22.1551  12.415
122  2018-09-01  22.2371  12.318
123  2018-09-01  22.3192   12.31
124  2018-09-01  22.4012  11.935
125  2018-09-01  22.4833  11.566
126  2018-09-01  22.5653   11.91

[127 rows x 3 columns]

In [147]:
# Here do the postprocessing